snowfall {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50000000;
  display: block;
  font-size: 40px;
  overflow: hidden;
  pointer-events: none;
}

snowfall snowflake {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
}

snowfall snowflake span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

snowfall snowflake img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50px;
}

snowfall snowflake:nth-child(50) {
  -webkit-animation: animation-snowflake-50 linear infinite;
          animation: animation-snowflake-50 linear infinite;
  -webkit-animation-duration: 11.7s;
          animation-duration: 11.7s;
  -webkit-animation-delay: -15.3s;
          animation-delay: -15.3s;
}

@-webkit-keyframes animation-snowflake-50 {
  0% {
    left: 83%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.852) rotate3d(0.89, 0.83, 0.67, 0deg);
            transform: scale(0.852) rotate3d(0.89, 0.83, 0.67, 0deg);
  }
  100% {
    left: 110.8%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.852) rotate3d(0.06, 0.27, 0.36, -1025deg);
            transform: scale(0.852) rotate3d(0.06, 0.27, 0.36, -1025deg);
  }
}

@keyframes animation-snowflake-50 {
  0% {
    left: 83%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.852) rotate3d(0.89, 0.83, 0.67, 0deg);
            transform: scale(0.852) rotate3d(0.89, 0.83, 0.67, 0deg);
  }
  100% {
    left: 110.8%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.852) rotate3d(0.06, 0.27, 0.36, -1025deg);
            transform: scale(0.852) rotate3d(0.06, 0.27, 0.36, -1025deg);
  }
}

snowfall snowflake:nth-child(49) {
  -webkit-animation: animation-snowflake-49 linear infinite;
          animation: animation-snowflake-49 linear infinite;
  -webkit-animation-duration: 10.2s;
          animation-duration: 10.2s;
  -webkit-animation-delay: -8.7s;
          animation-delay: -8.7s;
}

@-webkit-keyframes animation-snowflake-49 {
  0% {
    left: 14%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.199) rotate3d(0.34, 0.88, 0.41, 0deg);
            transform: scale(1.199) rotate3d(0.34, 0.88, 0.41, 0deg);
  }
  100% {
    left: 21.1%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.199) rotate3d(0.39, 0.62, 0.93, -1145deg);
            transform: scale(1.199) rotate3d(0.39, 0.62, 0.93, -1145deg);
  }
}

@keyframes animation-snowflake-49 {
  0% {
    left: 14%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.199) rotate3d(0.34, 0.88, 0.41, 0deg);
            transform: scale(1.199) rotate3d(0.34, 0.88, 0.41, 0deg);
  }
  100% {
    left: 21.1%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.199) rotate3d(0.39, 0.62, 0.93, -1145deg);
            transform: scale(1.199) rotate3d(0.39, 0.62, 0.93, -1145deg);
  }
}

snowfall snowflake:nth-child(48) {
  -webkit-animation: animation-snowflake-48 linear infinite;
          animation: animation-snowflake-48 linear infinite;
  -webkit-animation-duration: 8.4s;
          animation-duration: 8.4s;
  -webkit-animation-delay: -13.9s;
          animation-delay: -13.9s;
}

@-webkit-keyframes animation-snowflake-48 {
  0% {
    left: 10%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.941) rotate3d(0.22, 0.96, 0.53, 0deg);
            transform: scale(0.941) rotate3d(0.22, 0.96, 0.53, 0deg);
  }
  100% {
    left: 0%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.941) rotate3d(0.35, 0.45, 0.13, -1295deg);
            transform: scale(0.941) rotate3d(0.35, 0.45, 0.13, -1295deg);
  }
}

@keyframes animation-snowflake-48 {
  0% {
    left: 10%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.941) rotate3d(0.22, 0.96, 0.53, 0deg);
            transform: scale(0.941) rotate3d(0.22, 0.96, 0.53, 0deg);
  }
  100% {
    left: 0%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.941) rotate3d(0.35, 0.45, 0.13, -1295deg);
            transform: scale(0.941) rotate3d(0.35, 0.45, 0.13, -1295deg);
  }
}

snowfall snowflake:nth-child(47) {
  -webkit-animation: animation-snowflake-47 linear infinite;
          animation: animation-snowflake-47 linear infinite;
  -webkit-animation-duration: 15.6s;
          animation-duration: 15.6s;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
}

@-webkit-keyframes animation-snowflake-47 {
  0% {
    left: 25%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.076) rotate3d(0.9, 0.71, 0.26, 0deg);
            transform: scale(1.076) rotate3d(0.9, 0.71, 0.26, 0deg);
  }
  100% {
    left: 21.6%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.076) rotate3d(0.82, 0.3, 0.53, -778deg);
            transform: scale(1.076) rotate3d(0.82, 0.3, 0.53, -778deg);
  }
}

@keyframes animation-snowflake-47 {
  0% {
    left: 25%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.076) rotate3d(0.9, 0.71, 0.26, 0deg);
            transform: scale(1.076) rotate3d(0.9, 0.71, 0.26, 0deg);
  }
  100% {
    left: 21.6%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.076) rotate3d(0.82, 0.3, 0.53, -778deg);
            transform: scale(1.076) rotate3d(0.82, 0.3, 0.53, -778deg);
  }
}

snowfall snowflake:nth-child(46) {
  -webkit-animation: animation-snowflake-46 linear infinite;
          animation: animation-snowflake-46 linear infinite;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
}

@-webkit-keyframes animation-snowflake-46 {
  0% {
    left: 14%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.889) rotate3d(0.34, 0.2, 0.38, 0deg);
            transform: scale(0.889) rotate3d(0.34, 0.2, 0.38, 0deg);
  }
  100% {
    left: 53%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.889) rotate3d(0.57, 0.6, 0.78, -983deg);
            transform: scale(0.889) rotate3d(0.57, 0.6, 0.78, -983deg);
  }
}

@keyframes animation-snowflake-46 {
  0% {
    left: 14%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.889) rotate3d(0.34, 0.2, 0.38, 0deg);
            transform: scale(0.889) rotate3d(0.34, 0.2, 0.38, 0deg);
  }
  100% {
    left: 53%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.889) rotate3d(0.57, 0.6, 0.78, -983deg);
            transform: scale(0.889) rotate3d(0.57, 0.6, 0.78, -983deg);
  }
}

snowfall snowflake:nth-child(45) {
  -webkit-animation: animation-snowflake-45 linear infinite;
          animation: animation-snowflake-45 linear infinite;
  -webkit-animation-duration: 9.3s;
          animation-duration: 9.3s;
  -webkit-animation-delay: -11.1s;
          animation-delay: -11.1s;
}

@-webkit-keyframes animation-snowflake-45 {
  0% {
    left: 64%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.11) rotate3d(0.92, 0.23, 0.18, 0deg);
            transform: scale(1.11) rotate3d(0.92, 0.23, 0.18, 0deg);
  }
  100% {
    left: 83.6%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.11) rotate3d(0.42, 0.47, 0.22, -752deg);
            transform: scale(1.11) rotate3d(0.42, 0.47, 0.22, -752deg);
  }
}

@keyframes animation-snowflake-45 {
  0% {
    left: 64%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.11) rotate3d(0.92, 0.23, 0.18, 0deg);
            transform: scale(1.11) rotate3d(0.92, 0.23, 0.18, 0deg);
  }
  100% {
    left: 83.6%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.11) rotate3d(0.42, 0.47, 0.22, -752deg);
            transform: scale(1.11) rotate3d(0.42, 0.47, 0.22, -752deg);
  }
}

snowfall snowflake:nth-child(44) {
  -webkit-animation: animation-snowflake-44 linear infinite;
          animation: animation-snowflake-44 linear infinite;
  -webkit-animation-duration: 8.8s;
          animation-duration: 8.8s;
  -webkit-animation-delay: -13.5s;
          animation-delay: -13.5s;
}

@-webkit-keyframes animation-snowflake-44 {
  0% {
    left: 22%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.15) rotate3d(1, 0.34, 0.28, 0deg);
            transform: scale(1.15) rotate3d(1, 0.34, 0.28, 0deg);
  }
  100% {
    left: 23%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.15) rotate3d(0.1, 0.53, 0.33, -983deg);
            transform: scale(1.15) rotate3d(0.1, 0.53, 0.33, -983deg);
  }
}

@keyframes animation-snowflake-44 {
  0% {
    left: 22%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.15) rotate3d(1, 0.34, 0.28, 0deg);
            transform: scale(1.15) rotate3d(1, 0.34, 0.28, 0deg);
  }
  100% {
    left: 23%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.15) rotate3d(0.1, 0.53, 0.33, -983deg);
            transform: scale(1.15) rotate3d(0.1, 0.53, 0.33, -983deg);
  }
}

snowfall snowflake:nth-child(43) {
  -webkit-animation: animation-snowflake-43 linear infinite;
          animation: animation-snowflake-43 linear infinite;
  -webkit-animation-duration: 15.8s;
          animation-duration: 15.8s;
  -webkit-animation-delay: -13.2s;
          animation-delay: -13.2s;
}

@-webkit-keyframes animation-snowflake-43 {
  0% {
    left: 16%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.87) rotate3d(0.58, 0.27, 0.13, 0deg);
            transform: scale(0.87) rotate3d(0.58, 0.27, 0.13, 0deg);
  }
  100% {
    left: 38%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.87) rotate3d(0.95, 0.68, 0.79, 921deg);
            transform: scale(0.87) rotate3d(0.95, 0.68, 0.79, 921deg);
  }
}

@keyframes animation-snowflake-43 {
  0% {
    left: 16%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.87) rotate3d(0.58, 0.27, 0.13, 0deg);
            transform: scale(0.87) rotate3d(0.58, 0.27, 0.13, 0deg);
  }
  100% {
    left: 38%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.87) rotate3d(0.95, 0.68, 0.79, 921deg);
            transform: scale(0.87) rotate3d(0.95, 0.68, 0.79, 921deg);
  }
}

snowfall snowflake:nth-child(42) {
  -webkit-animation: animation-snowflake-42 linear infinite;
          animation: animation-snowflake-42 linear infinite;
  -webkit-animation-duration: 15.8s;
          animation-duration: 15.8s;
  -webkit-animation-delay: -15s;
          animation-delay: -15s;
}

@-webkit-keyframes animation-snowflake-42 {
  0% {
    left: 99%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.099) rotate3d(0.59, 0.16, 0.52, 0deg);
            transform: scale(1.099) rotate3d(0.59, 0.16, 0.52, 0deg);
  }
  100% {
    left: 119.1%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.099) rotate3d(0.06, 0.86, 0.03, -1199deg);
            transform: scale(1.099) rotate3d(0.06, 0.86, 0.03, -1199deg);
  }
}

@keyframes animation-snowflake-42 {
  0% {
    left: 99%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.099) rotate3d(0.59, 0.16, 0.52, 0deg);
            transform: scale(1.099) rotate3d(0.59, 0.16, 0.52, 0deg);
  }
  100% {
    left: 119.1%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.099) rotate3d(0.06, 0.86, 0.03, -1199deg);
            transform: scale(1.099) rotate3d(0.06, 0.86, 0.03, -1199deg);
  }
}

snowfall snowflake:nth-child(41) {
  -webkit-animation: animation-snowflake-41 linear infinite;
          animation: animation-snowflake-41 linear infinite;
  -webkit-animation-duration: 8.9s;
          animation-duration: 8.9s;
  -webkit-animation-delay: -12.1s;
          animation-delay: -12.1s;
}

@-webkit-keyframes animation-snowflake-41 {
  0% {
    left: 51%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.973) rotate3d(0.25, 0.06, 0.92, 0deg);
            transform: scale(0.973) rotate3d(0.25, 0.06, 0.92, 0deg);
  }
  100% {
    left: 56.6%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.973) rotate3d(0.99, 0.01, 0.8, 962deg);
            transform: scale(0.973) rotate3d(0.99, 0.01, 0.8, 962deg);
  }
}

@keyframes animation-snowflake-41 {
  0% {
    left: 51%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.973) rotate3d(0.25, 0.06, 0.92, 0deg);
            transform: scale(0.973) rotate3d(0.25, 0.06, 0.92, 0deg);
  }
  100% {
    left: 56.6%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.973) rotate3d(0.99, 0.01, 0.8, 962deg);
            transform: scale(0.973) rotate3d(0.99, 0.01, 0.8, 962deg);
  }
}

snowfall snowflake:nth-child(40) {
  -webkit-animation: animation-snowflake-40 linear infinite;
          animation: animation-snowflake-40 linear infinite;
  -webkit-animation-duration: 15.9s;
          animation-duration: 15.9s;
  -webkit-animation-delay: -9.2s;
          animation-delay: -9.2s;
}

@-webkit-keyframes animation-snowflake-40 {
  0% {
    left: 24%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.014) rotate3d(0.53, 0.49, 0.2, 0deg);
            transform: scale(1.014) rotate3d(0.53, 0.49, 0.2, 0deg);
  }
  100% {
    left: 10.6%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.014) rotate3d(0.37, 0.05, 0.32, 754deg);
            transform: scale(1.014) rotate3d(0.37, 0.05, 0.32, 754deg);
  }
}

@keyframes animation-snowflake-40 {
  0% {
    left: 24%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.014) rotate3d(0.53, 0.49, 0.2, 0deg);
            transform: scale(1.014) rotate3d(0.53, 0.49, 0.2, 0deg);
  }
  100% {
    left: 10.6%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.014) rotate3d(0.37, 0.05, 0.32, 754deg);
            transform: scale(1.014) rotate3d(0.37, 0.05, 0.32, 754deg);
  }
}

snowfall snowflake:nth-child(39) {
  -webkit-animation: animation-snowflake-39 linear infinite;
          animation: animation-snowflake-39 linear infinite;
  -webkit-animation-duration: 12.8s;
          animation-duration: 12.8s;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

@-webkit-keyframes animation-snowflake-39 {
  0% {
    left: 44%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.089) rotate3d(0.96, 0.22, 0.3, 0deg);
            transform: scale(1.089) rotate3d(0.96, 0.22, 0.3, 0deg);
  }
  100% {
    left: 25%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.089) rotate3d(0.02, 0.66, 0.97, 920deg);
            transform: scale(1.089) rotate3d(0.02, 0.66, 0.97, 920deg);
  }
}

@keyframes animation-snowflake-39 {
  0% {
    left: 44%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.089) rotate3d(0.96, 0.22, 0.3, 0deg);
            transform: scale(1.089) rotate3d(0.96, 0.22, 0.3, 0deg);
  }
  100% {
    left: 25%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.089) rotate3d(0.02, 0.66, 0.97, 920deg);
            transform: scale(1.089) rotate3d(0.02, 0.66, 0.97, 920deg);
  }
}

snowfall snowflake:nth-child(38) {
  -webkit-animation: animation-snowflake-38 linear infinite;
          animation: animation-snowflake-38 linear infinite;
  -webkit-animation-duration: 12.1s;
          animation-duration: 12.1s;
  -webkit-animation-delay: -4.3s;
          animation-delay: -4.3s;
}

@-webkit-keyframes animation-snowflake-38 {
  0% {
    left: 14%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.028) rotate3d(0.71, 0.43, 0.54, 0deg);
            transform: scale(1.028) rotate3d(0.71, 0.43, 0.54, 0deg);
  }
  100% {
    left: 41.5%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.028) rotate3d(0.83, 0.66, 0.15, -1164deg);
            transform: scale(1.028) rotate3d(0.83, 0.66, 0.15, -1164deg);
  }
}

@keyframes animation-snowflake-38 {
  0% {
    left: 14%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.028) rotate3d(0.71, 0.43, 0.54, 0deg);
            transform: scale(1.028) rotate3d(0.71, 0.43, 0.54, 0deg);
  }
  100% {
    left: 41.5%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.028) rotate3d(0.83, 0.66, 0.15, -1164deg);
            transform: scale(1.028) rotate3d(0.83, 0.66, 0.15, -1164deg);
  }
}

snowfall snowflake:nth-child(37) {
  -webkit-animation: animation-snowflake-37 linear infinite;
          animation: animation-snowflake-37 linear infinite;
  -webkit-animation-duration: 12.8s;
          animation-duration: 12.8s;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
}

@-webkit-keyframes animation-snowflake-37 {
  0% {
    left: 90%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.04) rotate3d(0.22, 0.26, 0.98, 0deg);
            transform: scale(1.04) rotate3d(0.22, 0.26, 0.98, 0deg);
  }
  100% {
    left: 80.8%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.04) rotate3d(0.14, 0.28, 0.53, -1248deg);
            transform: scale(1.04) rotate3d(0.14, 0.28, 0.53, -1248deg);
  }
}

@keyframes animation-snowflake-37 {
  0% {
    left: 90%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.04) rotate3d(0.22, 0.26, 0.98, 0deg);
            transform: scale(1.04) rotate3d(0.22, 0.26, 0.98, 0deg);
  }
  100% {
    left: 80.8%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.04) rotate3d(0.14, 0.28, 0.53, -1248deg);
            transform: scale(1.04) rotate3d(0.14, 0.28, 0.53, -1248deg);
  }
}

snowfall snowflake:nth-child(36) {
  -webkit-animation: animation-snowflake-36 linear infinite;
          animation: animation-snowflake-36 linear infinite;
  -webkit-animation-duration: 13.9s;
          animation-duration: 13.9s;
  -webkit-animation-delay: -11.3s;
          animation-delay: -11.3s;
}

@-webkit-keyframes animation-snowflake-36 {
  0% {
    left: 40%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.094) rotate3d(0.53, 0.25, 0.11, 0deg);
            transform: scale(1.094) rotate3d(0.53, 0.25, 0.11, 0deg);
  }
  100% {
    left: 45.3%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.094) rotate3d(0.9, 0.7, 0.44, -976deg);
            transform: scale(1.094) rotate3d(0.9, 0.7, 0.44, -976deg);
  }
}

@keyframes animation-snowflake-36 {
  0% {
    left: 40%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.094) rotate3d(0.53, 0.25, 0.11, 0deg);
            transform: scale(1.094) rotate3d(0.53, 0.25, 0.11, 0deg);
  }
  100% {
    left: 45.3%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.094) rotate3d(0.9, 0.7, 0.44, -976deg);
            transform: scale(1.094) rotate3d(0.9, 0.7, 0.44, -976deg);
  }
}

snowfall snowflake:nth-child(35) {
  -webkit-animation: animation-snowflake-35 linear infinite;
          animation: animation-snowflake-35 linear infinite;
  -webkit-animation-duration: 11.6s;
          animation-duration: 11.6s;
  -webkit-animation-delay: -15.8s;
          animation-delay: -15.8s;
}

@-webkit-keyframes animation-snowflake-35 {
  0% {
    left: 45%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.027) rotate3d(0.22, 0.74, 0.44, 0deg);
            transform: scale(1.027) rotate3d(0.22, 0.74, 0.44, 0deg);
  }
  100% {
    left: 39.9%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.027) rotate3d(0.5, 0.91, 1, 1087deg);
            transform: scale(1.027) rotate3d(0.5, 0.91, 1, 1087deg);
  }
}

@keyframes animation-snowflake-35 {
  0% {
    left: 45%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.027) rotate3d(0.22, 0.74, 0.44, 0deg);
            transform: scale(1.027) rotate3d(0.22, 0.74, 0.44, 0deg);
  }
  100% {
    left: 39.9%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.027) rotate3d(0.5, 0.91, 1, 1087deg);
            transform: scale(1.027) rotate3d(0.5, 0.91, 1, 1087deg);
  }
}

snowfall snowflake:nth-child(34) {
  -webkit-animation: animation-snowflake-34 linear infinite;
          animation: animation-snowflake-34 linear infinite;
  -webkit-animation-duration: 10.7s;
          animation-duration: 10.7s;
  -webkit-animation-delay: -10.1s;
          animation-delay: -10.1s;
}

@-webkit-keyframes animation-snowflake-34 {
  0% {
    left: 97%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.934) rotate3d(0.6, 0.68, 0.87, 0deg);
            transform: scale(0.934) rotate3d(0.6, 0.68, 0.87, 0deg);
  }
  100% {
    left: 116%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.934) rotate3d(0.54, 0.37, 0.71, 810deg);
            transform: scale(0.934) rotate3d(0.54, 0.37, 0.71, 810deg);
  }
}

@keyframes animation-snowflake-34 {
  0% {
    left: 97%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.934) rotate3d(0.6, 0.68, 0.87, 0deg);
            transform: scale(0.934) rotate3d(0.6, 0.68, 0.87, 0deg);
  }
  100% {
    left: 116%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.934) rotate3d(0.54, 0.37, 0.71, 810deg);
            transform: scale(0.934) rotate3d(0.54, 0.37, 0.71, 810deg);
  }
}

snowfall snowflake:nth-child(33) {
  -webkit-animation: animation-snowflake-33 linear infinite;
          animation: animation-snowflake-33 linear infinite;
  -webkit-animation-duration: 12.6s;
          animation-duration: 12.6s;
  -webkit-animation-delay: -14.3s;
          animation-delay: -14.3s;
}

@-webkit-keyframes animation-snowflake-33 {
  0% {
    left: 58%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.003) rotate3d(0.33, 0.38, 0.36, 0deg);
            transform: scale(1.003) rotate3d(0.33, 0.38, 0.36, 0deg);
  }
  100% {
    left: 54.7%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.003) rotate3d(0.87, 0.36, 0.17, 1138deg);
            transform: scale(1.003) rotate3d(0.87, 0.36, 0.17, 1138deg);
  }
}

@keyframes animation-snowflake-33 {
  0% {
    left: 58%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.003) rotate3d(0.33, 0.38, 0.36, 0deg);
            transform: scale(1.003) rotate3d(0.33, 0.38, 0.36, 0deg);
  }
  100% {
    left: 54.7%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.003) rotate3d(0.87, 0.36, 0.17, 1138deg);
            transform: scale(1.003) rotate3d(0.87, 0.36, 0.17, 1138deg);
  }
}

snowfall snowflake:nth-child(32) {
  -webkit-animation: animation-snowflake-32 linear infinite;
          animation: animation-snowflake-32 linear infinite;
  -webkit-animation-duration: 8.1s;
          animation-duration: 8.1s;
  -webkit-animation-delay: -7.6s;
          animation-delay: -7.6s;
}

@-webkit-keyframes animation-snowflake-32 {
  0% {
    left: 52%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.961) rotate3d(0.01, 0.97, 1, 0deg);
            transform: scale(0.961) rotate3d(0.01, 0.97, 1, 0deg);
  }
  100% {
    left: 91.3%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.961) rotate3d(0.92, 0.66, 0.54, 1221deg);
            transform: scale(0.961) rotate3d(0.92, 0.66, 0.54, 1221deg);
  }
}

@keyframes animation-snowflake-32 {
  0% {
    left: 52%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.961) rotate3d(0.01, 0.97, 1, 0deg);
            transform: scale(0.961) rotate3d(0.01, 0.97, 1, 0deg);
  }
  100% {
    left: 91.3%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.961) rotate3d(0.92, 0.66, 0.54, 1221deg);
            transform: scale(0.961) rotate3d(0.92, 0.66, 0.54, 1221deg);
  }
}

snowfall snowflake:nth-child(31) {
  -webkit-animation: animation-snowflake-31 linear infinite;
          animation: animation-snowflake-31 linear infinite;
  -webkit-animation-duration: 12.4s;
          animation-duration: 12.4s;
  -webkit-animation-delay: -6.5s;
          animation-delay: -6.5s;
}

@-webkit-keyframes animation-snowflake-31 {
  0% {
    left: 81%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.997) rotate3d(0.56, 0.14, 0.84, 0deg);
            transform: scale(0.997) rotate3d(0.56, 0.14, 0.84, 0deg);
  }
  100% {
    left: 85.1%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.997) rotate3d(0.89, 0.54, 0.32, 1305deg);
            transform: scale(0.997) rotate3d(0.89, 0.54, 0.32, 1305deg);
  }
}

@keyframes animation-snowflake-31 {
  0% {
    left: 81%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.997) rotate3d(0.56, 0.14, 0.84, 0deg);
            transform: scale(0.997) rotate3d(0.56, 0.14, 0.84, 0deg);
  }
  100% {
    left: 85.1%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.997) rotate3d(0.89, 0.54, 0.32, 1305deg);
            transform: scale(0.997) rotate3d(0.89, 0.54, 0.32, 1305deg);
  }
}

snowfall snowflake:nth-child(30) {
  -webkit-animation: animation-snowflake-30 linear infinite;
          animation: animation-snowflake-30 linear infinite;
  -webkit-animation-duration: 9.5s;
          animation-duration: 9.5s;
  -webkit-animation-delay: -11.8s;
          animation-delay: -11.8s;
}

@-webkit-keyframes animation-snowflake-30 {
  0% {
    left: 1%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.19) rotate3d(0.67, 0.08, 0.54, 0deg);
            transform: scale(1.19) rotate3d(0.67, 0.08, 0.54, 0deg);
  }
  100% {
    left: 39.9%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.19) rotate3d(0.45, 0.19, 0.51, -1083deg);
            transform: scale(1.19) rotate3d(0.45, 0.19, 0.51, -1083deg);
  }
}

@keyframes animation-snowflake-30 {
  0% {
    left: 1%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.19) rotate3d(0.67, 0.08, 0.54, 0deg);
            transform: scale(1.19) rotate3d(0.67, 0.08, 0.54, 0deg);
  }
  100% {
    left: 39.9%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.19) rotate3d(0.45, 0.19, 0.51, -1083deg);
            transform: scale(1.19) rotate3d(0.45, 0.19, 0.51, -1083deg);
  }
}

snowfall snowflake:nth-child(29) {
  -webkit-animation: animation-snowflake-29 linear infinite;
          animation: animation-snowflake-29 linear infinite;
  -webkit-animation-duration: 11.5s;
          animation-duration: 11.5s;
  -webkit-animation-delay: -4.5s;
          animation-delay: -4.5s;
}

@-webkit-keyframes animation-snowflake-29 {
  0% {
    left: 91%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.804) rotate3d(0.87, 0.35, 0.75, 0deg);
            transform: scale(0.804) rotate3d(0.87, 0.35, 0.75, 0deg);
  }
  100% {
    left: 97%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.804) rotate3d(0.69, 0.08, 0.67, -1369deg);
            transform: scale(0.804) rotate3d(0.69, 0.08, 0.67, -1369deg);
  }
}

@keyframes animation-snowflake-29 {
  0% {
    left: 91%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.804) rotate3d(0.87, 0.35, 0.75, 0deg);
            transform: scale(0.804) rotate3d(0.87, 0.35, 0.75, 0deg);
  }
  100% {
    left: 97%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.804) rotate3d(0.69, 0.08, 0.67, -1369deg);
            transform: scale(0.804) rotate3d(0.69, 0.08, 0.67, -1369deg);
  }
}

snowfall snowflake:nth-child(28) {
  -webkit-animation: animation-snowflake-28 linear infinite;
          animation: animation-snowflake-28 linear infinite;
  -webkit-animation-duration: 10.2s;
          animation-duration: 10.2s;
  -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s;
}

@-webkit-keyframes animation-snowflake-28 {
  0% {
    left: 29%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.147) rotate3d(0.94, 0.42, 0.19, 0deg);
            transform: scale(1.147) rotate3d(0.94, 0.42, 0.19, 0deg);
  }
  100% {
    left: 32.9%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.147) rotate3d(0.54, 0.37, 0.83, -1435deg);
            transform: scale(1.147) rotate3d(0.54, 0.37, 0.83, -1435deg);
  }
}

@keyframes animation-snowflake-28 {
  0% {
    left: 29%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.147) rotate3d(0.94, 0.42, 0.19, 0deg);
            transform: scale(1.147) rotate3d(0.94, 0.42, 0.19, 0deg);
  }
  100% {
    left: 32.9%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.147) rotate3d(0.54, 0.37, 0.83, -1435deg);
            transform: scale(1.147) rotate3d(0.54, 0.37, 0.83, -1435deg);
  }
}

snowfall snowflake:nth-child(27) {
  -webkit-animation: animation-snowflake-27 linear infinite;
          animation: animation-snowflake-27 linear infinite;
  -webkit-animation-duration: 12.3s;
          animation-duration: 12.3s;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
}

@-webkit-keyframes animation-snowflake-27 {
  0% {
    left: 39%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.956) rotate3d(0.14, 0.41, 0.85, 0deg);
            transform: scale(0.956) rotate3d(0.14, 0.41, 0.85, 0deg);
  }
  100% {
    left: 27.4%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.956) rotate3d(0.7, 0.75, 0.28, 760deg);
            transform: scale(0.956) rotate3d(0.7, 0.75, 0.28, 760deg);
  }
}

@keyframes animation-snowflake-27 {
  0% {
    left: 39%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.956) rotate3d(0.14, 0.41, 0.85, 0deg);
            transform: scale(0.956) rotate3d(0.14, 0.41, 0.85, 0deg);
  }
  100% {
    left: 27.4%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.956) rotate3d(0.7, 0.75, 0.28, 760deg);
            transform: scale(0.956) rotate3d(0.7, 0.75, 0.28, 760deg);
  }
}

snowfall snowflake:nth-child(26) {
  -webkit-animation: animation-snowflake-26 linear infinite;
          animation: animation-snowflake-26 linear infinite;
  -webkit-animation-duration: 14.3s;
          animation-duration: 14.3s;
  -webkit-animation-delay: -12.8s;
          animation-delay: -12.8s;
}

@-webkit-keyframes animation-snowflake-26 {
  0% {
    left: 27%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.969) rotate3d(0.04, 0.05, 0.54, 0deg);
            transform: scale(0.969) rotate3d(0.04, 0.05, 0.54, 0deg);
  }
  100% {
    left: 18.2%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.969) rotate3d(0.99, 0.55, 0.19, 1032deg);
            transform: scale(0.969) rotate3d(0.99, 0.55, 0.19, 1032deg);
  }
}

@keyframes animation-snowflake-26 {
  0% {
    left: 27%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.969) rotate3d(0.04, 0.05, 0.54, 0deg);
            transform: scale(0.969) rotate3d(0.04, 0.05, 0.54, 0deg);
  }
  100% {
    left: 18.2%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.969) rotate3d(0.99, 0.55, 0.19, 1032deg);
            transform: scale(0.969) rotate3d(0.99, 0.55, 0.19, 1032deg);
  }
}

snowfall snowflake:nth-child(25) {
  -webkit-animation: animation-snowflake-25 linear infinite;
          animation: animation-snowflake-25 linear infinite;
  -webkit-animation-duration: 11.1s;
          animation-duration: 11.1s;
  -webkit-animation-delay: -4.9s;
          animation-delay: -4.9s;
}

@-webkit-keyframes animation-snowflake-25 {
  0% {
    left: 5%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.968) rotate3d(0.08, 0.04, 0.39, 0deg);
            transform: scale(0.968) rotate3d(0.08, 0.04, 0.39, 0deg);
  }
  100% {
    left: 35.8%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.968) rotate3d(0.22, 0.91, 0.31, 900deg);
            transform: scale(0.968) rotate3d(0.22, 0.91, 0.31, 900deg);
  }
}

@keyframes animation-snowflake-25 {
  0% {
    left: 5%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.968) rotate3d(0.08, 0.04, 0.39, 0deg);
            transform: scale(0.968) rotate3d(0.08, 0.04, 0.39, 0deg);
  }
  100% {
    left: 35.8%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.968) rotate3d(0.22, 0.91, 0.31, 900deg);
            transform: scale(0.968) rotate3d(0.22, 0.91, 0.31, 900deg);
  }
}

snowfall snowflake:nth-child(24) {
  -webkit-animation: animation-snowflake-24 linear infinite;
          animation: animation-snowflake-24 linear infinite;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-delay: -14.2s;
          animation-delay: -14.2s;
}

@-webkit-keyframes animation-snowflake-24 {
  0% {
    left: 1%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.068) rotate3d(0.29, 0.65, 0.87, 0deg);
            transform: scale(1.068) rotate3d(0.29, 0.65, 0.87, 0deg);
  }
  100% {
    left: 27.4%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.068) rotate3d(0.89, 0.08, 0.1, 1100deg);
            transform: scale(1.068) rotate3d(0.89, 0.08, 0.1, 1100deg);
  }
}

@keyframes animation-snowflake-24 {
  0% {
    left: 1%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.068) rotate3d(0.29, 0.65, 0.87, 0deg);
            transform: scale(1.068) rotate3d(0.29, 0.65, 0.87, 0deg);
  }
  100% {
    left: 27.4%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.068) rotate3d(0.89, 0.08, 0.1, 1100deg);
            transform: scale(1.068) rotate3d(0.89, 0.08, 0.1, 1100deg);
  }
}

snowfall snowflake:nth-child(23) {
  -webkit-animation: animation-snowflake-23 linear infinite;
          animation: animation-snowflake-23 linear infinite;
  -webkit-animation-duration: 9.2s;
          animation-duration: 9.2s;
  -webkit-animation-delay: -13.6s;
          animation-delay: -13.6s;
}

@-webkit-keyframes animation-snowflake-23 {
  0% {
    left: 50%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.848) rotate3d(0.51, 0.11, 0.48, 0deg);
            transform: scale(0.848) rotate3d(0.51, 0.11, 0.48, 0deg);
  }
  100% {
    left: 40.4%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.848) rotate3d(0.66, 0.58, 0.76, -902deg);
            transform: scale(0.848) rotate3d(0.66, 0.58, 0.76, -902deg);
  }
}

@keyframes animation-snowflake-23 {
  0% {
    left: 50%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.848) rotate3d(0.51, 0.11, 0.48, 0deg);
            transform: scale(0.848) rotate3d(0.51, 0.11, 0.48, 0deg);
  }
  100% {
    left: 40.4%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.848) rotate3d(0.66, 0.58, 0.76, -902deg);
            transform: scale(0.848) rotate3d(0.66, 0.58, 0.76, -902deg);
  }
}

snowfall snowflake:nth-child(22) {
  -webkit-animation: animation-snowflake-22 linear infinite;
          animation: animation-snowflake-22 linear infinite;
  -webkit-animation-duration: 15.7s;
          animation-duration: 15.7s;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
}

@-webkit-keyframes animation-snowflake-22 {
  0% {
    left: 47%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.992) rotate3d(0.78, 0.63, 0.96, 0deg);
            transform: scale(0.992) rotate3d(0.78, 0.63, 0.96, 0deg);
  }
  100% {
    left: 70.3%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.992) rotate3d(0.55, 0.25, 0.8, 726deg);
            transform: scale(0.992) rotate3d(0.55, 0.25, 0.8, 726deg);
  }
}

@keyframes animation-snowflake-22 {
  0% {
    left: 47%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.992) rotate3d(0.78, 0.63, 0.96, 0deg);
            transform: scale(0.992) rotate3d(0.78, 0.63, 0.96, 0deg);
  }
  100% {
    left: 70.3%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.992) rotate3d(0.55, 0.25, 0.8, 726deg);
            transform: scale(0.992) rotate3d(0.55, 0.25, 0.8, 726deg);
  }
}

snowfall snowflake:nth-child(21) {
  -webkit-animation: animation-snowflake-21 linear infinite;
          animation: animation-snowflake-21 linear infinite;
  -webkit-animation-duration: 8.9s;
          animation-duration: 8.9s;
  -webkit-animation-delay: -15.2s;
          animation-delay: -15.2s;
}

@-webkit-keyframes animation-snowflake-21 {
  0% {
    left: 59%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.169) rotate3d(0.28, 0.44, 0.67, 0deg);
            transform: scale(1.169) rotate3d(0.28, 0.44, 0.67, 0deg);
  }
  100% {
    left: 71.7%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.169) rotate3d(0.69, 0.52, 0.45, -1169deg);
            transform: scale(1.169) rotate3d(0.69, 0.52, 0.45, -1169deg);
  }
}

@keyframes animation-snowflake-21 {
  0% {
    left: 59%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.169) rotate3d(0.28, 0.44, 0.67, 0deg);
            transform: scale(1.169) rotate3d(0.28, 0.44, 0.67, 0deg);
  }
  100% {
    left: 71.7%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.169) rotate3d(0.69, 0.52, 0.45, -1169deg);
            transform: scale(1.169) rotate3d(0.69, 0.52, 0.45, -1169deg);
  }
}

snowfall snowflake:nth-child(20) {
  -webkit-animation: animation-snowflake-20 linear infinite;
          animation: animation-snowflake-20 linear infinite;
  -webkit-animation-duration: 14.5s;
          animation-duration: 14.5s;
  -webkit-animation-delay: -6.4s;
          animation-delay: -6.4s;
}

@-webkit-keyframes animation-snowflake-20 {
  0% {
    left: 77%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.832) rotate3d(0.41, 0.97, 0.28, 0deg);
            transform: scale(0.832) rotate3d(0.41, 0.97, 0.28, 0deg);
  }
  100% {
    left: 69.1%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.832) rotate3d(0.19, 0.57, 0.19, -1214deg);
            transform: scale(0.832) rotate3d(0.19, 0.57, 0.19, -1214deg);
  }
}

@keyframes animation-snowflake-20 {
  0% {
    left: 77%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.832) rotate3d(0.41, 0.97, 0.28, 0deg);
            transform: scale(0.832) rotate3d(0.41, 0.97, 0.28, 0deg);
  }
  100% {
    left: 69.1%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.832) rotate3d(0.19, 0.57, 0.19, -1214deg);
            transform: scale(0.832) rotate3d(0.19, 0.57, 0.19, -1214deg);
  }
}

snowfall snowflake:nth-child(19) {
  -webkit-animation: animation-snowflake-19 linear infinite;
          animation: animation-snowflake-19 linear infinite;
  -webkit-animation-duration: 14.8s;
          animation-duration: 14.8s;
  -webkit-animation-delay: -7.4s;
          animation-delay: -7.4s;
}

@-webkit-keyframes animation-snowflake-19 {
  0% {
    left: 68%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.046) rotate3d(0.3, 0.94, 0.75, 0deg);
            transform: scale(1.046) rotate3d(0.3, 0.94, 0.75, 0deg);
  }
  100% {
    left: 93.7%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.046) rotate3d(0.28, 0.69, 0.72, 847deg);
            transform: scale(1.046) rotate3d(0.28, 0.69, 0.72, 847deg);
  }
}

@keyframes animation-snowflake-19 {
  0% {
    left: 68%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.046) rotate3d(0.3, 0.94, 0.75, 0deg);
            transform: scale(1.046) rotate3d(0.3, 0.94, 0.75, 0deg);
  }
  100% {
    left: 93.7%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.046) rotate3d(0.28, 0.69, 0.72, 847deg);
            transform: scale(1.046) rotate3d(0.28, 0.69, 0.72, 847deg);
  }
}

snowfall snowflake:nth-child(18) {
  -webkit-animation: animation-snowflake-18 linear infinite;
          animation: animation-snowflake-18 linear infinite;
  -webkit-animation-duration: 15.8s;
          animation-duration: 15.8s;
  -webkit-animation-delay: -10.4s;
          animation-delay: -10.4s;
}

@-webkit-keyframes animation-snowflake-18 {
  0% {
    left: 9%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.898) rotate3d(0.49, 0.9, 0.67, 0deg);
            transform: scale(0.898) rotate3d(0.49, 0.9, 0.67, 0deg);
  }
  100% {
    left: 38.4%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.898) rotate3d(0.56, 0.65, 0.82, -1356deg);
            transform: scale(0.898) rotate3d(0.56, 0.65, 0.82, -1356deg);
  }
}

@keyframes animation-snowflake-18 {
  0% {
    left: 9%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.898) rotate3d(0.49, 0.9, 0.67, 0deg);
            transform: scale(0.898) rotate3d(0.49, 0.9, 0.67, 0deg);
  }
  100% {
    left: 38.4%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.898) rotate3d(0.56, 0.65, 0.82, -1356deg);
            transform: scale(0.898) rotate3d(0.56, 0.65, 0.82, -1356deg);
  }
}

snowfall snowflake:nth-child(17) {
  -webkit-animation: animation-snowflake-17 linear infinite;
          animation: animation-snowflake-17 linear infinite;
  -webkit-animation-duration: 8.2s;
          animation-duration: 8.2s;
  -webkit-animation-delay: -8.9s;
          animation-delay: -8.9s;
}

@-webkit-keyframes animation-snowflake-17 {
  0% {
    left: 97%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.808) rotate3d(0.35, 0.24, 0.21, 0deg);
            transform: scale(0.808) rotate3d(0.35, 0.24, 0.21, 0deg);
  }
  100% {
    left: 123.3%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.808) rotate3d(0.06, 0.86, 0.9, -858deg);
            transform: scale(0.808) rotate3d(0.06, 0.86, 0.9, -858deg);
  }
}

@keyframes animation-snowflake-17 {
  0% {
    left: 97%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.808) rotate3d(0.35, 0.24, 0.21, 0deg);
            transform: scale(0.808) rotate3d(0.35, 0.24, 0.21, 0deg);
  }
  100% {
    left: 123.3%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.808) rotate3d(0.06, 0.86, 0.9, -858deg);
            transform: scale(0.808) rotate3d(0.06, 0.86, 0.9, -858deg);
  }
}

snowfall snowflake:nth-child(16) {
  -webkit-animation: animation-snowflake-16 linear infinite;
          animation: animation-snowflake-16 linear infinite;
  -webkit-animation-duration: 11.1s;
          animation-duration: 11.1s;
  -webkit-animation-delay: -9.7s;
          animation-delay: -9.7s;
}

@-webkit-keyframes animation-snowflake-16 {
  0% {
    left: 35%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.868) rotate3d(0.53, 0.24, 0.82, 0deg);
            transform: scale(0.868) rotate3d(0.53, 0.24, 0.82, 0deg);
  }
  100% {
    left: 28.8%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.868) rotate3d(0.89, 0.57, 0.14, 762deg);
            transform: scale(0.868) rotate3d(0.89, 0.57, 0.14, 762deg);
  }
}

@keyframes animation-snowflake-16 {
  0% {
    left: 35%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.868) rotate3d(0.53, 0.24, 0.82, 0deg);
            transform: scale(0.868) rotate3d(0.53, 0.24, 0.82, 0deg);
  }
  100% {
    left: 28.8%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.868) rotate3d(0.89, 0.57, 0.14, 762deg);
            transform: scale(0.868) rotate3d(0.89, 0.57, 0.14, 762deg);
  }
}

snowfall snowflake:nth-child(15) {
  -webkit-animation: animation-snowflake-15 linear infinite;
          animation: animation-snowflake-15 linear infinite;
  -webkit-animation-duration: 13.9s;
          animation-duration: 13.9s;
  -webkit-animation-delay: -12.4s;
          animation-delay: -12.4s;
}

@-webkit-keyframes animation-snowflake-15 {
  0% {
    left: 23%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.194) rotate3d(0.17, 0.49, 0.74, 0deg);
            transform: scale(1.194) rotate3d(0.17, 0.49, 0.74, 0deg);
  }
  100% {
    left: 32.3%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.194) rotate3d(0.01, 0.41, 0.73, 1405deg);
            transform: scale(1.194) rotate3d(0.01, 0.41, 0.73, 1405deg);
  }
}

@keyframes animation-snowflake-15 {
  0% {
    left: 23%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.194) rotate3d(0.17, 0.49, 0.74, 0deg);
            transform: scale(1.194) rotate3d(0.17, 0.49, 0.74, 0deg);
  }
  100% {
    left: 32.3%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.194) rotate3d(0.01, 0.41, 0.73, 1405deg);
            transform: scale(1.194) rotate3d(0.01, 0.41, 0.73, 1405deg);
  }
}

snowfall snowflake:nth-child(14) {
  -webkit-animation: animation-snowflake-14 linear infinite;
          animation: animation-snowflake-14 linear infinite;
  -webkit-animation-duration: 14.4s;
          animation-duration: 14.4s;
  -webkit-animation-delay: -14.8s;
          animation-delay: -14.8s;
}

@-webkit-keyframes animation-snowflake-14 {
  0% {
    left: 18%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.075) rotate3d(0.92, 0.69, 0.78, 0deg);
            transform: scale(1.075) rotate3d(0.92, 0.69, 0.78, 0deg);
  }
  100% {
    left: 26.6%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.075) rotate3d(0.64, 0.99, 0.38, -1011deg);
            transform: scale(1.075) rotate3d(0.64, 0.99, 0.38, -1011deg);
  }
}

@keyframes animation-snowflake-14 {
  0% {
    left: 18%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.075) rotate3d(0.92, 0.69, 0.78, 0deg);
            transform: scale(1.075) rotate3d(0.92, 0.69, 0.78, 0deg);
  }
  100% {
    left: 26.6%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.075) rotate3d(0.64, 0.99, 0.38, -1011deg);
            transform: scale(1.075) rotate3d(0.64, 0.99, 0.38, -1011deg);
  }
}

snowfall snowflake:nth-child(13) {
  -webkit-animation: animation-snowflake-13 linear infinite;
          animation: animation-snowflake-13 linear infinite;
  -webkit-animation-duration: 8.6s;
          animation-duration: 8.6s;
  -webkit-animation-delay: -10.7s;
          animation-delay: -10.7s;
}

@-webkit-keyframes animation-snowflake-13 {
  0% {
    left: 25%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.997) rotate3d(0.45, 0.82, 0.32, 0deg);
            transform: scale(0.997) rotate3d(0.45, 0.82, 0.32, 0deg);
  }
  100% {
    left: 48.8%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.997) rotate3d(0.05, 0.71, 0.13, -888deg);
            transform: scale(0.997) rotate3d(0.05, 0.71, 0.13, -888deg);
  }
}

@keyframes animation-snowflake-13 {
  0% {
    left: 25%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.997) rotate3d(0.45, 0.82, 0.32, 0deg);
            transform: scale(0.997) rotate3d(0.45, 0.82, 0.32, 0deg);
  }
  100% {
    left: 48.8%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.997) rotate3d(0.05, 0.71, 0.13, -888deg);
            transform: scale(0.997) rotate3d(0.05, 0.71, 0.13, -888deg);
  }
}

snowfall snowflake:nth-child(12) {
  -webkit-animation: animation-snowflake-12 linear infinite;
          animation: animation-snowflake-12 linear infinite;
  -webkit-animation-duration: 12.8s;
          animation-duration: 12.8s;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

@-webkit-keyframes animation-snowflake-12 {
  0% {
    left: 88%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.175) rotate3d(0.19, 0.28, 0.29, 0deg);
            transform: scale(1.175) rotate3d(0.19, 0.28, 0.29, 0deg);
  }
  100% {
    left: 106.6%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.175) rotate3d(0.76, 1, 0.38, 1198deg);
            transform: scale(1.175) rotate3d(0.76, 1, 0.38, 1198deg);
  }
}

@keyframes animation-snowflake-12 {
  0% {
    left: 88%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.175) rotate3d(0.19, 0.28, 0.29, 0deg);
            transform: scale(1.175) rotate3d(0.19, 0.28, 0.29, 0deg);
  }
  100% {
    left: 106.6%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.175) rotate3d(0.76, 1, 0.38, 1198deg);
            transform: scale(1.175) rotate3d(0.76, 1, 0.38, 1198deg);
  }
}

snowfall snowflake:nth-child(11) {
  -webkit-animation: animation-snowflake-11 linear infinite;
          animation: animation-snowflake-11 linear infinite;
  -webkit-animation-duration: 15.9s;
          animation-duration: 15.9s;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
}

@-webkit-keyframes animation-snowflake-11 {
  0% {
    left: 96%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.136) rotate3d(0.03, 0.75, 0.59, 0deg);
            transform: scale(1.136) rotate3d(0.03, 0.75, 0.59, 0deg);
  }
  100% {
    left: 123.3%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.136) rotate3d(0.31, 0.02, 0.74, 770deg);
            transform: scale(1.136) rotate3d(0.31, 0.02, 0.74, 770deg);
  }
}

@keyframes animation-snowflake-11 {
  0% {
    left: 96%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.136) rotate3d(0.03, 0.75, 0.59, 0deg);
            transform: scale(1.136) rotate3d(0.03, 0.75, 0.59, 0deg);
  }
  100% {
    left: 123.3%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.136) rotate3d(0.31, 0.02, 0.74, 770deg);
            transform: scale(1.136) rotate3d(0.31, 0.02, 0.74, 770deg);
  }
}

snowfall snowflake:nth-child(10) {
  -webkit-animation: animation-snowflake-10 linear infinite;
          animation: animation-snowflake-10 linear infinite;
  -webkit-animation-duration: 9.9s;
          animation-duration: 9.9s;
  -webkit-animation-delay: -7.8s;
          animation-delay: -7.8s;
}

@-webkit-keyframes animation-snowflake-10 {
  0% {
    left: 74%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.908) rotate3d(0.8, 0.84, 0.79, 0deg);
            transform: scale(0.908) rotate3d(0.8, 0.84, 0.79, 0deg);
  }
  100% {
    left: 91.5%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.908) rotate3d(0.16, 0.93, 0.16, -1050deg);
            transform: scale(0.908) rotate3d(0.16, 0.93, 0.16, -1050deg);
  }
}

@keyframes animation-snowflake-10 {
  0% {
    left: 74%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.908) rotate3d(0.8, 0.84, 0.79, 0deg);
            transform: scale(0.908) rotate3d(0.8, 0.84, 0.79, 0deg);
  }
  100% {
    left: 91.5%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.908) rotate3d(0.16, 0.93, 0.16, -1050deg);
            transform: scale(0.908) rotate3d(0.16, 0.93, 0.16, -1050deg);
  }
}

snowfall snowflake:nth-child(9) {
  -webkit-animation: animation-snowflake-9 linear infinite;
          animation: animation-snowflake-9 linear infinite;
  -webkit-animation-duration: 12.4s;
          animation-duration: 12.4s;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
}

@-webkit-keyframes animation-snowflake-9 {
  0% {
    left: 49%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.988) rotate3d(0.18, 0.18, 0.65, 0deg);
            transform: scale(0.988) rotate3d(0.18, 0.18, 0.65, 0deg);
  }
  100% {
    left: 30.3%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.988) rotate3d(0.21, 0.82, 0.98, -1048deg);
            transform: scale(0.988) rotate3d(0.21, 0.82, 0.98, -1048deg);
  }
}

@keyframes animation-snowflake-9 {
  0% {
    left: 49%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.988) rotate3d(0.18, 0.18, 0.65, 0deg);
            transform: scale(0.988) rotate3d(0.18, 0.18, 0.65, 0deg);
  }
  100% {
    left: 30.3%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.988) rotate3d(0.21, 0.82, 0.98, -1048deg);
            transform: scale(0.988) rotate3d(0.21, 0.82, 0.98, -1048deg);
  }
}

snowfall snowflake:nth-child(8) {
  -webkit-animation: animation-snowflake-8 linear infinite;
          animation: animation-snowflake-8 linear infinite;
  -webkit-animation-duration: 12.2s;
          animation-duration: 12.2s;
  -webkit-animation-delay: -3.3s;
          animation-delay: -3.3s;
}

@-webkit-keyframes animation-snowflake-8 {
  0% {
    left: 27%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.832) rotate3d(0.92, 1, 0.98, 0deg);
            transform: scale(0.832) rotate3d(0.92, 1, 0.98, 0deg);
  }
  100% {
    left: 40.2%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.832) rotate3d(0.89, 0.5, 0.06, 733deg);
            transform: scale(0.832) rotate3d(0.89, 0.5, 0.06, 733deg);
  }
}

@keyframes animation-snowflake-8 {
  0% {
    left: 27%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.832) rotate3d(0.92, 1, 0.98, 0deg);
            transform: scale(0.832) rotate3d(0.92, 1, 0.98, 0deg);
  }
  100% {
    left: 40.2%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.832) rotate3d(0.89, 0.5, 0.06, 733deg);
            transform: scale(0.832) rotate3d(0.89, 0.5, 0.06, 733deg);
  }
}

snowfall snowflake:nth-child(7) {
  -webkit-animation: animation-snowflake-7 linear infinite;
          animation: animation-snowflake-7 linear infinite;
  -webkit-animation-duration: 9.4s;
          animation-duration: 9.4s;
  -webkit-animation-delay: -5.3s;
          animation-delay: -5.3s;
}

@-webkit-keyframes animation-snowflake-7 {
  0% {
    left: 18%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.921) rotate3d(0.73, 0.2, 0.08, 0deg);
            transform: scale(0.921) rotate3d(0.73, 0.2, 0.08, 0deg);
  }
  100% {
    left: 37.5%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.921) rotate3d(0.25, 0.19, 0.44, -1057deg);
            transform: scale(0.921) rotate3d(0.25, 0.19, 0.44, -1057deg);
  }
}

@keyframes animation-snowflake-7 {
  0% {
    left: 18%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.921) rotate3d(0.73, 0.2, 0.08, 0deg);
            transform: scale(0.921) rotate3d(0.73, 0.2, 0.08, 0deg);
  }
  100% {
    left: 37.5%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.921) rotate3d(0.25, 0.19, 0.44, -1057deg);
            transform: scale(0.921) rotate3d(0.25, 0.19, 0.44, -1057deg);
  }
}

snowfall snowflake:nth-child(6) {
  -webkit-animation: animation-snowflake-6 linear infinite;
          animation: animation-snowflake-6 linear infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: -6.4s;
          animation-delay: -6.4s;
}

@-webkit-keyframes animation-snowflake-6 {
  0% {
    left: 79%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.18) rotate3d(0.91, 0.8, 0.05, 0deg);
            transform: scale(1.18) rotate3d(0.91, 0.8, 0.05, 0deg);
  }
  100% {
    left: 83.4%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.18) rotate3d(0.55, 0.61, 0.42, -1429deg);
            transform: scale(1.18) rotate3d(0.55, 0.61, 0.42, -1429deg);
  }
}

@keyframes animation-snowflake-6 {
  0% {
    left: 79%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.18) rotate3d(0.91, 0.8, 0.05, 0deg);
            transform: scale(1.18) rotate3d(0.91, 0.8, 0.05, 0deg);
  }
  100% {
    left: 83.4%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.18) rotate3d(0.55, 0.61, 0.42, -1429deg);
            transform: scale(1.18) rotate3d(0.55, 0.61, 0.42, -1429deg);
  }
}

snowfall snowflake:nth-child(5) {
  -webkit-animation: animation-snowflake-5 linear infinite;
          animation: animation-snowflake-5 linear infinite;
  -webkit-animation-duration: 9.2s;
          animation-duration: 9.2s;
  -webkit-animation-delay: -9.3s;
          animation-delay: -9.3s;
}

@-webkit-keyframes animation-snowflake-5 {
  0% {
    left: 77%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.142) rotate3d(0.6, 0.55, 0.17, 0deg);
            transform: scale(1.142) rotate3d(0.6, 0.55, 0.17, 0deg);
  }
  100% {
    left: 70.7%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.142) rotate3d(0.72, 0.5, 0.82, -731deg);
            transform: scale(1.142) rotate3d(0.72, 0.5, 0.82, -731deg);
  }
}

@keyframes animation-snowflake-5 {
  0% {
    left: 77%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.142) rotate3d(0.6, 0.55, 0.17, 0deg);
            transform: scale(1.142) rotate3d(0.6, 0.55, 0.17, 0deg);
  }
  100% {
    left: 70.7%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.142) rotate3d(0.72, 0.5, 0.82, -731deg);
            transform: scale(1.142) rotate3d(0.72, 0.5, 0.82, -731deg);
  }
}

snowfall snowflake:nth-child(4) {
  -webkit-animation: animation-snowflake-4 linear infinite;
          animation: animation-snowflake-4 linear infinite;
  -webkit-animation-duration: 8.7s;
          animation-duration: 8.7s;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
}

@-webkit-keyframes animation-snowflake-4 {
  0% {
    left: 10%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.993) rotate3d(0.4, 1, 0.52, 0deg);
            transform: scale(0.993) rotate3d(0.4, 1, 0.52, 0deg);
  }
  100% {
    left: -7.6%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.993) rotate3d(0.4, 0.46, 0.68, 833deg);
            transform: scale(0.993) rotate3d(0.4, 0.46, 0.68, 833deg);
  }
}

@keyframes animation-snowflake-4 {
  0% {
    left: 10%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.993) rotate3d(0.4, 1, 0.52, 0deg);
            transform: scale(0.993) rotate3d(0.4, 1, 0.52, 0deg);
  }
  100% {
    left: -7.6%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.993) rotate3d(0.4, 0.46, 0.68, 833deg);
            transform: scale(0.993) rotate3d(0.4, 0.46, 0.68, 833deg);
  }
}

snowfall snowflake:nth-child(3) {
  -webkit-animation: animation-snowflake-3 linear infinite;
          animation: animation-snowflake-3 linear infinite;
  -webkit-animation-duration: 9.2s;
          animation-duration: 9.2s;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
}

@-webkit-keyframes animation-snowflake-3 {
  0% {
    left: 93%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.064) rotate3d(0.44, 0.32, 0.83, 0deg);
            transform: scale(1.064) rotate3d(0.44, 0.32, 0.83, 0deg);
  }
  100% {
    left: 85.4%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.064) rotate3d(0.57, 0.16, 0.87, -1370deg);
            transform: scale(1.064) rotate3d(0.57, 0.16, 0.87, -1370deg);
  }
}

@keyframes animation-snowflake-3 {
  0% {
    left: 93%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.064) rotate3d(0.44, 0.32, 0.83, 0deg);
            transform: scale(1.064) rotate3d(0.44, 0.32, 0.83, 0deg);
  }
  100% {
    left: 85.4%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.064) rotate3d(0.57, 0.16, 0.87, -1370deg);
            transform: scale(1.064) rotate3d(0.57, 0.16, 0.87, -1370deg);
  }
}

snowfall snowflake:nth-child(2) {
  -webkit-animation: animation-snowflake-2 linear infinite;
          animation: animation-snowflake-2 linear infinite;
  -webkit-animation-duration: 12.1s;
          animation-duration: 12.1s;
  -webkit-animation-delay: -9.5s;
          animation-delay: -9.5s;
}

@-webkit-keyframes animation-snowflake-2 {
  0% {
    left: 54%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.195) rotate3d(0.12, 0.53, 0.28, 0deg);
            transform: scale(1.195) rotate3d(0.12, 0.53, 0.28, 0deg);
  }
  100% {
    left: 39.4%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.195) rotate3d(0.64, 0.12, 0.58, -1112deg);
            transform: scale(1.195) rotate3d(0.64, 0.12, 0.58, -1112deg);
  }
}

@keyframes animation-snowflake-2 {
  0% {
    left: 54%;
    top: calc(0% - 50px);
    -webkit-transform: scale(1.195) rotate3d(0.12, 0.53, 0.28, 0deg);
            transform: scale(1.195) rotate3d(0.12, 0.53, 0.28, 0deg);
  }
  100% {
    left: 39.4%;
    top: calc(100% + 50px);
    -webkit-transform: scale(1.195) rotate3d(0.64, 0.12, 0.58, -1112deg);
            transform: scale(1.195) rotate3d(0.64, 0.12, 0.58, -1112deg);
  }
}

snowfall snowflake:nth-child(1) {
  -webkit-animation: animation-snowflake-1 linear infinite;
          animation: animation-snowflake-1 linear infinite;
  -webkit-animation-duration: 8.5s;
          animation-duration: 8.5s;
  -webkit-animation-delay: -12.9s;
          animation-delay: -12.9s;
}

@-webkit-keyframes animation-snowflake-1 {
  0% {
    left: 64%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.868) rotate3d(0.5, 0.4, 0.33, 0deg);
            transform: scale(0.868) rotate3d(0.5, 0.4, 0.33, 0deg);
  }
  100% {
    left: 78.1%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.868) rotate3d(0.8, 0.16, 0.99, 1219deg);
            transform: scale(0.868) rotate3d(0.8, 0.16, 0.99, 1219deg);
  }
}

@keyframes animation-snowflake-1 {
  0% {
    left: 64%;
    top: calc(0% - 50px);
    -webkit-transform: scale(0.868) rotate3d(0.5, 0.4, 0.33, 0deg);
            transform: scale(0.868) rotate3d(0.5, 0.4, 0.33, 0deg);
  }
  100% {
    left: 78.1%;
    top: calc(100% + 50px);
    -webkit-transform: scale(0.868) rotate3d(0.8, 0.16, 0.99, 1219deg);
            transform: scale(0.868) rotate3d(0.8, 0.16, 0.99, 1219deg);
  }
}
/*# sourceMappingURL=snowfall.css.map */