table.journey-table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
    border-color: #bbb !important;
    background-color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: center !important;
}

table.journey-table tr th,
table.journey-table tr td {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    padding: 5px;
    border-color: #bbb !important;
    text-align: center !important;
}

table.journey-table tr th:first-child,
table.journey-table tr td:first-child {
    border-left: 1px solid #bbb;
    border-color: #bbb !important;
}

table.journey-table tr th {
    background: rgb(247, 245, 245);
    border-top: 1px solid #bbb;
    text-align: left;
    border-color: #bbb !important;
}

/* top-left border-radius */
table.journey-table tr:first-child th:first-child {
    border-top-left-radius: 6px;
    border-color: #bbb !important;
}

/* top-right border-radius */
table.journey-table tr:first-child th:last-child {
    border-top-right-radius: 6px;
    border-color: #bbb !important;
}

/* bottom-left border-radius */
table.journey-table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
    border-color: #bbb !important;
}

/* bottom-right border-radius */
table.journey-table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
    border-color: #bbb !important;
}

body {
    font-family: NotoSansTC-Regular;

}

@font-face {
    font-family: NotoSansTC-Regular;
    src: url(../font/NotoSansTC-Regular.otf);
}

@media (min-width: 1439px) {
    .leftColumn {
        padding: 0 2.5% 0 5%;
    }

    .rightColumn {
        padding: 0 5% 0 2.5%;
    }
}

@media (max-width: 768px) {
    .leftColumn {
        padding: 0 5% 0 5%;
    }

    .rightColumn {
        padding: 0 5% 0 5%;
    }
}

@media (min-width: 1200px) {
    #chart{
        display: flex;
        justify-content: center;
    }
}

div.ui-widget-header {
    background: #57B846;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog-titlebar-close {
    padding: 0 !important;
}

.ui-dialog-titlebar-close:after {
    content: '';
    width: 18px;
    height: 20px;
    display: inline-block;
    /* Change path to image*/
    background-image: url(https://qi-xiang.github.io/NCU_Project_Demo/FireBaseDemo/src/jquery-ui-1.13.1.custom/images/ui-icons_777777_256x240.png);
    background-position: -96px -128px;
    background-repeat: no-repeat;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: rgb(84, 84, 247) !important;
}


a:hover {
    cursor: pointer;
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}

div#nav{
    display: flex;
    justify-content: center;
}

div#nav a.active{
    background-color: #d1d1d1;
}

.c3-axis-y-label {
    font-size: 12px;
    font-family: NotoSansTC-Regular;
}

.c3-axis-x-label {
    font-size: 12px;
    font-family: NotoSansTC-Regular;
}

.c3-tooltip {
    box-shadow: none;
    width: 150px;
}


